<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home-page</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <nav>
      <div class="header row bg-color">
        <div class="title">Todo</div>
        <div class="options row">
          <div class="p-r-15"><a href="./singup.html">Singup</a></div>
          <div class="p-r-15"><a href="./login.html">Login</a></div>
        </div>
      </div>
    </nav>
  </body>
</html>
